.ui.menu {
	margin-bottom: 0 !important;
}

div.ui.small {
	background: transparent;
}

div.ui.menu {
	background: rgba(101, 135, 158, 0.7);
	border: none;
	border-radius: 0;
}

div.ui.small.input {
	margin: 5px 10px;
}

button.ui.small.icon.right.labeled.button {
	padding: 10px;
	margin: 10px
}


@media all and (max-width: 479px) {

	button.ui.small.icon.right.labeled.button {
		float: right;

	}
	div.ui.small.input {
		margin: 5px;
		padding-top: 5px;
	}
	div.ui.customMenu.menu{
		margin-bottom: 0 !important;
	}
}

@media all and (max-width: 752px) {


}
