.TopM {
	margin: 2em !important;
}

div.ui.huge.header.CityCountry {
	color: #ffffff;
	font-family: 'Raleway', sans-serif;
	font-size: 62px;
	font-weight: 800;
	line-height: 72px;
	margin: 0 0 24px;
	text-transform: uppercase;
}

button.ui.positive.button {
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 25px;
}

@media all and (max-width: 959px) {

	.ui.container {
		float: left;
		width: 400px;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	button.ui.positive.button{

	display: block;
		margin:0
	}
}

@media all and (max-width: 730px) {

	.ui.container {
		float: left;
		width: 500px;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	button.ui.positive.button{

		display: block;
		margin:0
	}

}

@media all and (max-width: 666px) {

	.ui.container {
		float: left;
		background: green;
		margin-left: 0px !important;
		margin-right: 0px !important;
	}
	button.ui.positive.button{

		display: block;
		margin:0
	}

}
